# Rename this file to .env.local

# GPT Flask Information
GPTFLASK_API=FLASKAPIKEYHERE
GPTFLASK_URL=http://localhost:5000

# Clerk Information
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test...

# Google Cloud Storage Information
GCS_CLIENT_EMAIL=serviceaccountname@yourprojectname.iam.gserviceaccount.com
GCS_PROJECT_ID=gcprojectid
GCS_BUCKET_NAME=gcsbucketname
GCS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nprivatekey\n-----END PRIVATE KEY-----\n"

# AI Vendor API Keys
OPENAI_API_KEY=your_openai_api_key_here
OPENAI_ORG_ID=your_openai_org_id_here  # Optional
ANTHROPIC_API_KEY=your_anthropic_api_key_here
GOOGLE_API_KEY=your_google_api_key_here
